*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

body {
  background-color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

/* Default */

.featured-image {
  height: auto;
  max-width: 100%;
}

.header,
.cards,
.footer {
  margin-bottom: 20px;
  text-align: center;
}

.header-top {
  background-color: #85aff2;
  border-bottom: solid 3px #79a;
  font-size: 4vw;
  margin-bottom: 10px;
  padding: 20px 0 15px;
}

.header-tel {
  padding-bottom: 10px;
}

.fa-map-marker-alt {
  color: #ce3833;
}

.header-img {
  width: 15%;
}

.header-title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 10vw;
  margin-bottom: 0;
}

.header-tagline {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 5vw;
}

.header-smallcaps {
  font-size: 0.75em;
  letter-spacing: 0.01em;
  padding-right: 5px;
  text-transform: uppercase;
}

.hero-section {
  background: url(https://res.cloudinary.com/dcs8kyezs/image/upload/c_scale,w_1550/v1526100854/gigi-hero1550.jpg) center center / cover no-repeat;
  border-bottom: solid 3px #79a;
  border-top: solid 3px #79a;
  height: 45vh;
  margin-bottom: 20px;
  opacity: 0.7;
  overflow: hidden;
  padding: 0 50px 0 40px;
}

.hero-textbox {
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 5px #9fbac7;
  margin: 140px 15px 0 0;
  padding: 10px;
  text-align: center;
}

.hero-heading {
  font-size: 5vw;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 12px;
}

.hero-descrip {
  font-size: 3.75vw;
  line-height: 1.25em;
  padding-bottom: 5px;
}

.featured-heading {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 6vw;
  padding-bottom: 10px;
  text-align: center;
}

.img-category {
  font-size: 5vw;
  padding: 15px 0;
  margin-bottom: 20px;
}

.review-stars {
  padding-top: 15px;
  width: 30%;
}

.review-comment {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3.5vw;
  padding: 5px 0 15px;
}


/* Media Queries */


/* minor breakpoint */
@media screen and (min-width: 480px) {
    .hero-section {
/*      height: 50vh;*/
      padding: 0 75px;
    }

    .hero-textbox {
      margin: 155px 12px 0 0;
    }

    .hero-heading {
      font-size: 4vw;
      padding-bottom: 10px;
    }

    .hero-descrip {
      font-size: 3.25vw;
    }
}

/* tablet */

@media screen and (min-width: 600px) {
    .header-top {
      font-size: 3vw;
    }

    .header-img {
       width: 12%;
    }

    .header-title {
      font-size: 8vw;
    }

    .header-tagline {
      font-size: 3.75vw;
    }

    .hero-section {
      height: 50vh;
      padding: 0 60px 0 30px;
    }

    .hero-textbox {
      margin: 140px auto;
      width: 75%;
      padding: 10px;
    }

    .hero-heading {
      font-size: 4vw;
      padding-bottom: 12px;
    }

    .hero-descrip {
      font-size: 3vw;
      padding: 0 15px 5px;
    }

    .featured-heading {
      font-size: 5vw;
    }

    .review-comment {
      padding: 9px 0 9px;
    }
}

/* desktop */

@media screen and (min-width: 800px) {
    .featured-heading {
      font-size: 4vw;
      padding-left: 10px;
      text-align: left;      
    }

    .cards {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    .card {
      flex: 0 1 32%;
    }

    .img-category {
        font-size: 2.5vw;
        padding: 10px 0;
      }
}

/* desktop -- center align with fluid margins */

@media screen and (min-width: 1000px) {
    .wrapper {
      width: 1000px;
      margin: 0 auto;
    }
  }